/* general */


body {
    font-family: "Open Sans", sans-serif;
    width: 100vw;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
    font-weight: bolder;
    color: #081c52;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

/* general */

/* navigation */

.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: left;
}
.navbar li {
    position: relative;
    
}

@media only screen and (min-width: 768px) {
    .navbar li {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.navbar a, .navbar a:focus {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-size: 14px;
    white-space: nowrap;
    transition: 0.3s;
}
.navbar a i, .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
    color: #2487ce;
}

.navbar-collapse {
    padding: 0;
}

.navbar-collapse .login {
    margin-top: 3px;
    max-width: 131px;
}

@media only screen and (max-width: 768px) {
    .navbar-collapse {
        padding-left: 10px;
    }
}

.navbar-collapse.show .login {
    text-align: center;
    padding: 2px;
    margin-bottom: 10px;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 23, 45, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler .navbar-toggler {
    border-color: #00172d;
}

.navbar .login, .navbar .getstarted:focus {
    background: #081c52;
    padding: 8px 20px;
    border-radius: 4px;
    color: #fff;
}
.navbar .login:hover, .navbar .getstarted:focus:hover {
    color: #fff;
    background: #3194db;
}

/* Button */
.btn-primary {
    color: white;
    background-color: #081c52;
    border: none;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: white;
    background-color: #2487ce;
}

.icon {
    color: #081c52;
}

.icon:hover {
    color: #2487ce;
}

/* body */


/* footer */

.footercolor {
    background-color: #6c757d;
}