body {
	font-family: 'Jost', sans-serif;
}

header {
	/* min-height: 100vh; */
	
	
	background: #FFF;
}
.top-bar {
	background: #106eea;;
	height: 40px;
}
.menu-one {
	-webkit-box-shadow: 0px 5px 20px -15px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 5px 20px -15px rgba(0,0,0,0.75);
	box-shadow: 0px 5px 20px -15px rgba(0,0,0,0.75);
	position: relative;
}
.navbar li.nav-item {
	white-space: nowrap;
    padding: 10px 0 10px 25px;
}
.navbar li.nav-item .nav-link {
	font-size: 18px;
    font-weight: 600;
}
.navbar-brand img {
	height:60px;
	weight: auto;
}
.navbar-brand small {
	font-size: 0.8rem;
}

.menu-two .col {
}
.menu-two .col a {
	display: block;
	text-decoration: none;
	padding: 10px;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: all ease .5s;
}
.menu-two .col a:hover {
	background: rgba(255, 255, 255, 0.8);
}
.menu-two .col a:hover p {
	color: #000;
}
.menu-two .col img {
	width: 50px;
	display: inline-block;
	margin-bottom: 0.5rem;
}
.menu-two .col p {
	color: #fff;
	margin-bottom: 0;
	transition: all ease .5s;
}

section.about {
	background: #f6f9fe;
}
section.about .section-img {
	padding-top: 30px;
	padding-bottom: 30px;
}
section.about .section-img img {
	-webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.2);
	border-radius: 0 20px 0 20px;
}
section.about .section-title {
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 30px;
}
section.about .section-title h3 {
	font-weight: 600;
    font-size: 26px;
}
section.about .section-title p,
section.faq .section-title p {
    font-size: 18px;
	text-align: justify;
}
section.faq .section-title {
	padding-top: 50px;
	padding-bottom: 50px;
}
section.faq .section-title h3 {
	font-weight: 600;
    font-size: 26px;
	text-align: center;
	margin-bottom: 1rem;
}
section.faq .accordion-item {
	margin-top: 1rem;
	border: none;

}
section.faq button {
	background: #f6f9fe;
}

@media (min-width: 576px) {
	
}


@media (min-width: 768px) {
	
}


@media (min-width: 992px) {
	
}


@media (min-width: 1200px) {
	.container {
		max-width: 1170px;
	}
	.navbar-brand small {
		font-size: .875em;
	}
}


@media (min-width: 1400px) {
	
}