body {
	font-family: 'Jost', sans-serif;
}

header {
	/*min-height: 100vh;*/
	
	
	background: #FFF;
}

.top-bar {
	background: #9e1ba3;
	height: 40px;
}
.menu-one {
	-webkit-box-shadow: 0px 5px 20px -15px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 5px 20px -15px rgba(0,0,0,0.75);
	box-shadow: 0px 5px 20px -15px rgba(0,0,0,0.75);
	position: relative;
}
.navbar li.nav-item {
	white-space: nowrap;
    padding: 10px 0 10px 28px;
}
.navbar li.nav-item .nav-link {
	font-size: 18px;
    font-weight: 600;
}
.navbar-brand img {
	height:60px;
	weight: auto;
}
.slideshow .carousel-item img {
	
	
}
.menu-two .col {
}
.menu-two .col a {
	display: inline-flex;
	text-decoration: none;
	padding: 20px 25px;
	width: 100%;
	height: 100%;
	transition: all ease .5s;
}
.menu-two .col a:hover {
	background: #000;
}
.menu-two .col a:hover img {

}
.menu-two .col img {
	width: 50px;
	display: inline-block;
}
.menu-two .col span {
	display: inline-block;
	padding-left: 15px;
	color: #fff;
	margin-top: auto;
    margin-bottom: auto;
}

section.about {
	background: #f6f9fe;
}
section.about .section-img {
	padding-top: 30px;
	padding-bottom: 30px;
}
section.about .section-img img {
	-webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.2);
	border-radius: 0 20px 0 20px;
}
section.about .section-title {
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 30px;
}
section.about .section-title h3 {
	font-weight: 600;
    font-size: 26px;
}
section.about .section-title p,
section.faq .section-title p {
    font-size: 18px;
	text-align: justify;
}
section.faq .section-title {
	padding-top: 50px;
	padding-bottom: 50px;
}
section.faq .section-title h3 {
	font-weight: 600;
    font-size: 26px;
	text-align: center;
	margin-bottom: 1rem;
}
section.faq .accordion-item {
	margin-top: 1rem;
	border: none;

}
section.faq button {
	background: #f6f9fe;
}

@media (min-width: 576px) {
	
}


@media (min-width: 768px) {
	
}


@media (min-width: 992px) {
	
}


@media (min-width: 1200px) {
	.container {
		max-width: 1170px;
	}
}


@media (min-width: 1400px) {
	
}