body {
    font-family: "Open Sans",Arial,Helvetica,sans-serif;
    margin: 20px; 
    margin-top: 0;
    background: url(../images/bg4.png) repeat-x scroll 0 0 transparent;
    background-attachment: fixed;
    background-color: #eeeeee;
}

.required input {
   padding-right: 25px;
   background-image: url(...);
   background-position: right top;
}

.required2:after { content:" *"; color:red; }

.nav li {
    border: 0px solid white !important;
}

div.row {
    margin-top: 3px;
    border: 0px solid #eee;
}

.help-block {
    margin: 0;
}

.form-group {
    margin: 0;
}

div.col div.col {
    padding: 0;
}

.green {
    color: green;
}

/*.col:not(:first-child,:last-child) {
  padding-right:7px;
  padding-left:7px;
}*/

.xpanel {
    background-color: #f5f5f5;
}

.center {
    text-align: center;
}

.xlabel {
    color: #006699;
}

.xframe {
    border: 1px solid #ddd;
}

@media (min-width: 1000px) {
    #iwrapper {
        background: none repeat scroll 0 0 #FFFAF0;
        border: 0px solid #FFCC00;
        min-height: 500px;
        margin: 0 auto;
        /*margin: 0 40px 20px 40px;*/
        background-color: #fff;
        box-shadow: 5px 5px 10px 5px #888;
        width: 970px;
    }
}

@media (max-width: 700px) {
    #iwrapper {
        background: none repeat scroll 0 0 #FFFAF0;
        border: 0px solid #FFCC00;
        min-height: 500px;
        background-color: #fff;
        box-shadow: 5px 5px 10px 5px #888;
        width: 100%;
    }
}

#iheader {
    height: 140px;
    background-color: #f5f5f5;
    background-image: url(../images/header.fw.png);
    background-repeat: no-repeat;
}

#imenu {
    height: 20px;
    background-color: #0070a3;
}

#icontent {
    padding: 5px;
    margin-top: 30px;
    min-height: 500px;
    background-color: white;
}

#ifooter {
    min-height: 20px;
    background-color: #ccc;
    margin-top: 10px;
    font-size: 11px;
}

.table {
    margin-top: 4px;
}

.table .form-control {
    padding: 0px;
    margin: 0px;
}

.xtable {
    max-width: 100%;
    width: 100%;
    margin-bottom: 2px;
}

.xtable td {
    border-top: 0px solid #ddd !important;
    padding: 2px !important;
    margin: 2px;
}

.xtable2 > td {
    border-top: 1px solid #ddd !important;
    padding: 2px !important;
    margin: 2px;
}
